:root {
    --main-bg: rgb(10, 20, 30);
    --secondary-color: rgb(240, 230, 220);
    --another-color: #ff9b9b;
}
html, body {
    min-height: 100%;
}

html {
    font-family: "Courier New", "Verdana", sans-serif;
    color: rgb(235, 209, 241);
}

body {
    position: relative;
    background: var(--main-bg);
    text-align: center;
}

body:after {
    display: none;
    display: block;
    position: fixed; /* could also be absolute */ 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.2);
}

button {
    background: var(--secondary-color);
    border: 1px solid #8B7E74;
    border-radius: 5px;
}

.weapon {
    border-radius: 15px;
}

#restart-button {
    height: 35px;
    width: 160px;
}

#restart-button:hover {
    background: #c2af9c;
}
#heading {
    font-size: 4rem;
}

#container {
    margin: auto;
    text-align: center;
}

#score-container {
    font-size: 0.75rem;
}

#results-container {
    color: rgb(10, 20, 30);
    margin: auto;
    width: 600px;
    height: 180px;
    font-size: 0.85rem;
    background: var(--another-color);
    border-radius: 10px;
    border: 4px solid rgba(178, 140, 80, 0.3);
    padding: 20px;
}

#fire-weapon {
    margin-top: 25px;
    margin-bottom: 45px;
}

#fire-weapon:hover {
    background: #fe7c7c;
}

#grass-weapon:hover {
    background: #84b99a;
}

#water-weapon:hover {
    background: #98bfd4;
}

#grass-weapon {
    margin: 45px 0px 45px 100px;
}

#water-weapon {
    margin: 45px 100px 45px 0;
}

#fire-text {
    color: #fe7c7c;
}

#grass-text {
    color: #84b99a;
}

#water-text {
    color: #98bfd4;
}

#fire-image {
    width: 100px;
}

#grass-image {
    width: 100px;
    height: 107.84px;
}

#water-image {
    width: 100px;
    height: 107.84px;
}

.modal {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -230px;
    margin-top: -90px;
    width: 400px;
    height: 120px;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    background-color: gray;
}

.overlay {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
  }

  .end-screen {
    display: none;
  }