body {
    background:#65647C;
    color: rgb(235, 209, 241);
}

button {
    background: #F1D3B3;
    border-radius: 15px;
    border: 1px solid #8B7E74;
}

#heading {
    font-size: 4rem;
}

.container {
    margin: auto;
    text-align: center;
}

.score-container {
    font-size: 0.75rem;
}

#fire-weapon {
    margin-bottom: 25px;
}

#fire-weapon:hover {
    background: #fe7c7c;
}

#grass-weapon:hover {
    background: #84b99a;
}

#water-weapon:hover {
    background: #98bfd4;
}

#grass-weapon {
    margin: 25px 0px 25px 100px;
}

#water-weapon {
    margin: 25px 100px 25px 0;
}

#fire-text {
    color: #fe7c7c;
}

#grass-text {
    color: #84b99a;
}

#water-text {
    color: #98bfd4;
}

#fire-image {
    width: 100px;
}

#grass-image {
    width: 100px;
    height: 107.84px;
}

#water-image {
    width: 100px;
    height: 107.84px;
}

#end-screen-container {
    position: fixed;
    z-index: 101;
    width: 600px;
    height: 400px;
    background-color: rgb(241, 181, 120);
}

#end-screen-content {
    width: 400px;
    height: 200px;
    padding: 20px;
    background-color: burlywood;
    margin: 80 auto;
    text-align: center;
}

.end-screen {
    display: none;
}