#end-screen-container {
    position: absolute;
    z-index: 101;
    width: 600px;
    height: 400px;
    background-color: rgb(241, 181, 120);
}

#end-screen-content {
    width: 400px;
    height: 200px;
    padding: 20px;
    background-color: burlywood;
    margin: 80 auto;
    text-align: center;
}

.end-screen {
    display: none;
}